:root {
	--font: "Pretendard GOV Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	color-scheme: light dark;
}

body {
	font-family: var(--font);
	padding-inline: max(4%, 1.34rem);
	margin-block: 3rem;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.33em; }
h5 { font-size: 1.17em; }
h6 { font-size: 1em; }
h1, h2, h3, h4, h5, h6 { margin-block-start: 1em; margin-block-end: 0.25em; }

hgroup :is(h1, h2, h3, h4, h5, h6) {
	margin-block-end: 0;
}

hgroup p {
	font-weight: bold;
	margin-block-start: 0.1em;
}

p {
	text-align: justify;
	margin-block: 0.5em;
}

p[lang=en] { hyphens: auto; }

hr { color: inherit; border: none; border-block-start: 1px solid currentColor; }

ol, ul { margin-block: 0.5em; }
ul { padding-inline-start: 2ch; }
ol { padding-inline-start: 3ch; }
:is(dir, menu, ol, ul) ol {
	padding-inline-start: 2ch;
	list-style-type: lower-alpha;
}
:is(dir, menu, ol, ul) :is(dir, menu, ol, ul) ol {
	list-style-type: lower-roman;
}

li > p { margin-block: 0; } /* use p to justify text inside li */
li > img { vertical-align: text-top; }

li:has( > details) { list-style: none; }
li > details > summary { list-style-position: outside; }

fieldset {
	margin-inline: 0;
	border: 1px solid currentColor;
}

fieldset legend + p { margin-block-start: 0; }
fieldset p:last-child { margin-block-end: 0; }

:is(img, video) {
	max-inline-size: 100%;
	max-block-size: 320px;
}
:is(img, video).small { max-block-size: 160px; }
:is(img, video).large { max-block-size: 480px; }
:is(img, video).full { inline-size: 100%; max-block-size: none; }

figure {
	text-align: center;
	break-inside: avoid-column;
	margin-inline: 1em;
}

figure.float-right, figure.float-left {
	margin-block-start: 0;
	padding: 0.5em;
	border: 1px solid currentColor;
}
figure.float-right { float: inline-end; }
figure.float-left { float: inline-start; }

.columns {
	columns: 20em;
}

fieldset > .columns {
	column-rule: thin solid;
}

.columns:has( > :is(p, figure):first-child) {
	margin-block-start: 0.5em;
}
.columns:has( > h1:first-child) { margin-block-start: 3em; }
.columns:has( > h2:first-child) { margin-block-start: 2em; }
.columns:has( > h3:first-child) { margin-block-start: 1.5em; }
.columns:has( > h4:first-child) { margin-block-start: 1.33em; }
.columns:has( > h5:first-child) { margin-block-start: 1.17em; }
.columns:has( > h6:first-child) { margin-block-start: 1em; }

.columns > :is(p, figure):first-child, .columns > :is(h1, h2, h3, h4, h5, h6) + :is(p, figure) {
	margin-block-start: 0;
}

.columns > :is(h1, h2, h3, h4, h5, h6):first-child {
	margin-block: 0;
	column-span: all;
}

.columns > :is(h1, h2, h3, h4, h5, h6) {
	break-after: avoid-column;
}

a { color: var(--c-link); text-decoration: none; }
a:hover, a:focus-visible { color: var(--c-linkh); text-decoration: underline; }
a:active { color: var(--c-linka); text-decoration: underline; }
a.broken { color: var(--c-linke); }
a.broken:hover, a:focus-visible { color: var(--c-linkeh); }
a.broken:active { color: var(--c-linkea); }

.color {
	--c: currentColor; --ch: currentColor; --ca: currentColor;
	color: var(--c);
}
a.color:hover, a.color:focus-visible { color: var(--ch); }
a.color:active { color: var(--ca); }
.color.c0 { --c: var(--c-0); --ch: var(--c-0h); --ca: var(--c-0a); }
.color.c1 { --c: var(--c-1); --ch: var(--c-1h); --ca: var(--c-1a); }
.color.c2 { --c: var(--c-2); --ch: var(--c-2h); --ca: var(--c-2a); }
.color.c3 { --c: var(--c-3); --ch: var(--c-3h); --ca: var(--c-3a); }
.color.c4 { --c: var(--c-4); --ch: var(--c-4h); --ca: var(--c-4a); }
.color.c5 { --c: var(--c-5); --ch: var(--c-5h); --ca: var(--c-5a); }
.color.c6 { --c: var(--c-6); --ch: var(--c-6h); --ca: var(--c-6a); }
.color.c7 { --c: var(--c-7); --ch: var(--c-7h); --ca: var(--c-7a); }
.color.c8 { --c: var(--c-8); --ch: var(--c-8h); --ca: var(--c-8a); }
.color.c9 { --c: var(--c-9); --ch: var(--c-9h); --ca: var(--c-9a); }
.color.c10 { --c: var(--c-10); --ch: var(--c-10h); --ca: var(--c-10a); }

.colorbox {
	--bg: transparent; --bgh: var(--c-0-5); --bga: var(--c-0-4);
	--bd: currentColor; --bdh: currentColor; --bda: currentColor;
	--c: currentColor; --ch: currentColor; --ca: currentColor;
	font-family: var(--font);
	font-size: 1em;
	line-height: inherit;
	padding-block: 0;
	border-radius: 0.2em;
	border: none;
	background-color: var(--bg);
	--cbd: var(--bd);
	box-shadow: inset 0 0 0 1px var(--cbd);
	color: var(--c);
	padding-inline: 0.25em;
	text-indent: 0;
	text-decoration-color: var(--c);
}
:is(a, button).colorbox:hover, :is(a, button).colorbox:focus-visible {
	background-color: var(--bgh); --cbd: var(--bdh); color: var(--ch);
	text-decoration: none;
	cursor: pointer;
}
:is(a, button).colorbox:active { background-color: var(--bga); --cbd: var(--bda); color: var(--ca); text-decoration: none; }
.colorbox.c0 { --bg: var(--c-0-bg); --bd: var(--c-0-bd); --c: var(--c-0-bc);
	--bgh: var(--c-0-bgh); --bdh: var(--c-0-bdh); --ch: var(--c-0-bch);
	--bga: var(--c-0-bga); --bda: var(--c-0-bda); --ca: var(--c-0-bca); }
.colorbox.c1 { --bg: var(--c-1-bg); --bd: var(--c-1-bd); --c: var(--c-1-bc);
	--bgh: var(--c-1-bgh); --bdh: var(--c-1-bdh); --ch: var(--c-1-bch);
	--bga: var(--c-1-bga); --bda: var(--c-1-bda); --ca: var(--c-1-bca); }
.colorbox.c2 { --bg: var(--c-2-bg); --bd: var(--c-2-bd); --c: var(--c-2-bc);
	--bgh: var(--c-2-bgh); --bdh: var(--c-2-bdh); --ch: var(--c-2-bch);
	--bga: var(--c-2-bga); --bda: var(--c-2-bda); --ca: var(--c-2-bca); }
.colorbox.c3 { --bg: var(--c-3-bg); --bd: var(--c-3-bd); --c: var(--c-3-bc);
	--bgh: var(--c-3-bgh); --bdh: var(--c-3-bdh); --ch: var(--c-3-bch);
	--bga: var(--c-3-bga); --bda: var(--c-3-bda); --ca: var(--c-3-bca); }
.colorbox.c4 { --bg: var(--c-4-bg); --bd: var(--c-4-bd); --c: var(--c-4-bc);
	--bgh: var(--c-4-bgh); --bdh: var(--c-4-bdh); --ch: var(--c-4-bch);
	--bga: var(--c-4-bga); --bda: var(--c-4-bda); --ca: var(--c-4-bca); }
.colorbox.c5 { --bg: var(--c-5-bg); --bd: var(--c-5-bd); --c: var(--c-5-bc);
	--bgh: var(--c-5-bgh); --bdh: var(--c-5-bdh); --ch: var(--c-5-bch);
	--bga: var(--c-5-bga); --bda: var(--c-5-bda); --ca: var(--c-5-bca); }
.colorbox.c6 { --bg: var(--c-6-bg); --bd: var(--c-6-bd); --c: var(--c-6-bc);
	--bgh: var(--c-6-bgh); --bdh: var(--c-6-bdh); --ch: var(--c-6-bch);
	--bga: var(--c-6-bga); --bda: var(--c-6-bda); --ca: var(--c-6-bca); }
.colorbox.c7 { --bg: var(--c-7-bg); --bd: var(--c-7-bd); --c: var(--c-7-bc);
	--bgh: var(--c-7-bgh); --bdh: var(--c-7-bdh); --ch: var(--c-7-bch);
	--bga: var(--c-7-bga); --bda: var(--c-7-bda); --ca: var(--c-7-bca); }
.colorbox.c8 { --bg: var(--c-8-bg); --bd: var(--c-8-bd); --c: var(--c-8-bc);
	--bgh: var(--c-8-bgh); --bdh: var(--c-8-bdh); --ch: var(--c-8-bch);
	--bga: var(--c-8-bga); --bda: var(--c-8-bda); --ca: var(--c-8-bca); }
.colorbox.c9 { --bg: var(--c-9-bg); --bd: var(--c-9-bd); --c: var(--c-9-bc);
	--bgh: var(--c-9-bgh); --bdh: var(--c-9-bdh); --ch: var(--c-9-bch);
	--bga: var(--c-9-bga); --bda: var(--c-9-bda); --ca: var(--c-9-bca); }
.colorbox.c10 { --bg: var(--c-10-bg); --bd: var(--c-10-bd); --c: var(--c-10-bc);
	--bgh: var(--c-10-bgh); --bdh: var(--c-10-bdh); --ch: var(--c-10-bch);
	--bga: var(--c-10-bga); --bda: var(--c-10-bda); --ca: var(--c-10-bca); }

em { text-decoration: underline; font-style: inherit; }

sup {
	vertical-align: text-top;
	font-size: 0.7em;
	font-weight: 550;
}

sub {
	vertical-align: baseline;
	font-size: 0.7em;
	font-weight: 550;
}

ins {
	background-color: var(--c-1-bg);
	color: var(--c-1);
}

del {
	color: var(--c-0--2);
}