@property --opacity1 {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

@property --opacity2 {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

@keyframes title {
	0% {
		--opacity1: 0;
		--opacity2: 0;
	}
	16.67%, 33.33% {
		--opacity1: 1;
		--opacity2: 0;
	}
	50% {
		--opacity1: 0;
		--opacity2: 0;
	}
	66.67%, 83.33% {
		--opacity1: 0;
		--opacity2: 1;
	}
	100% {
		--opacity1: 0;
		--opacity2: 0;
	}
}

:root {
	--off-filter: contrast(0) grayscale(1) brightness(195.3%);
	--bg-filter: contrast(1) grayscale(0.9) brightness(180%) blur(8.4px);
}

@media (prefers-color-scheme: dark) {
	:root {
		--off-filter: contrast(0) grayscale(1) brightness(27.3%);
		--bg-filter: contrast(1) grayscale(0.75) brightness(60%) blur(8.4px);
	}
}

#wrapper {
	overflow-y: clip;
	overscroll-behavior: none;
	transform-style: preserve-3d;
	perspective: 1px;
}
.on #wrapper { overflow-y: auto; }

.bg {
	position: absolute;
	inset: 0;
	height: calc(100vh + 252px + 70px);
	z-index: -1;
	transform: translateZ(-3px) scale(4);
	background-image: url('img/area.png');
	background-size: cover;
}
.archive .bg { background-image: url('img/archive.png'); }

.bg::before {
	content: '';
	transition: background-color 1s, visibility 1s;
	transition-behavior: allow-discrete;
	position: absolute;
	inset: 0;
	background: var(--c-bg);
	overflow: clip;
}
.on .bg::before {
	background: none;
	visibility: hidden;
}

@media print {
	html {
		background-image: url('img/area.png') !important;
		background-size: cover !important;
	}

	.bg { display: none; }
}

header {
	--opacity1: 0;
	--opacity2: 0;
	transition: border-bottom-color 1s;
	transform: translateZ(0);
	background: url('img/areablur.png');
	background-size: 840px 840px;
	border-bottom: 4.2px solid var(--c-bg);
}
.on header { border-bottom-color: var(--c-grayl2); }

header::before {
	content: '';
	transition: background-color 1s;
	position: absolute;
	inset: 0;
	backdrop-filter: var(--bg-filter);
	background-color: var(--c-bg);
}
.on header::before { background-color: rgb(from var(--c-bg) r g b / 40%); }

#logo-img {
	transition: opacity 1s, filter 1s;
	filter: grayscale(1);
}
.on #logo-img { filter: none; }

.title {
	position: relative;
	font-size: 3rem;
	line-height: 115%;
}

#title1 { opacity: var(--opacity1); }
#title2 { opacity: var(--opacity2); }

#title3 {
	transition: opacity 1s;
	line-height: 100%;
	font-size: 6rem;
	opacity: 0;
}
.on #title3 { opacity: 1; }

.areatext {
	transition: opacity 1s;
	width: 910px;
	max-width: calc(100vw - 75px);
	aspect-ratio: 3;
	position: absolute;
	inset: 0;
	top: 210px;
	margin: auto;
	background: url('img/areatext.png');
	background-size: cover;
	background-position: center;
	opacity: 0;
	mix-blend-mode: overlay;
}
.on .areatext { opacity: 1; }
.on.restricted .areatext {
	mix-blend-mode: normal;
	opacity: 0.5;
}

@media screen and (max-width: 480px) {
	.areatext {
		top: calc(12rem + 315px);
	}
}

.about {
	transition: opacity 1s;
	opacity: 0;
	mix-blend-mode: hard-light;
}
.on .about { opacity: 1; }
.restricted .about { mix-blend-mode: normal; }

.power-restricted { display: none; }
.restricted .power-normal { display: none; }
.restricted .power-restricted { display: revert; }

.about-archive { display: none; }
.archive .about-normal { display: none; }
.archive .about-archive { display: revert; }

main.tiles {
	display: none;
	background: url('img/areablur.png');
	background-size: 840px 840px;
	position: relative;
	border-top: 4.2px solid var(--c-grayl2);
	transform: translateZ(0);
	padding-top: 70px;
}
.on main.tiles { display: grid; }
.archive main.tiles { background-image: url('img/archiveblur.png'); }

main.tiles::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgb(from var(--c-bg) r g b / 40%);
	backdrop-filter: var(--bg-filter);
}


.emoji-icon {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", ui-sans-serif, sans-serif;
	font-size: 168px;
	text-align: center;
}

.notion { font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }

.notion-icon {
	display: inline-block;
	height: 2.5rem;
	aspect-ratio: 1;
	border-radius: 20%;
	position: relative;
	top: 0.25rem;
	background-size: cover;
}

.gdocs { font-family: "Google Sans",Arial,sans-serif; /* Google Sans는 아쉽게도 라이선스상 사용이 안 된다고 하네요. */ }