:root {
	--c-45-l5: color-mix(in oklch, var(--c-5-l5) 50%, var(--c-4-l5));
	--c-45-l4: color-mix(in oklch, var(--c-5-l4) 50%, var(--c-4-l4));
	--c-45-l3: color-mix(in oklch, var(--c-5-l3) 50%, var(--c-4-l3));
	--c-45-l2: color-mix(in oklch, var(--c-5-l2) 50%, var(--c-4-l2));
	--c-45-l1: color-mix(in oklch, var(--c-5-l1) 50%, var(--c-4-l1));
	--c-45-0: color-mix(in oklch, var(--c-5-0) 50%, var(--c-4-0));
	--c-45-d1: color-mix(in oklch, var(--c-5-d1) 50%, var(--c-4-d1));
	--c-45-d2: color-mix(in oklch, var(--c-5-d2) 50%, var(--c-4-d2));
	--c-45-d3: color-mix(in oklch, var(--c-5-d3) 50%, var(--c-4-d3));
	--c-45-d4: color-mix(in oklch, var(--c-5-d4) 50%, var(--c-4-d4));
	--c-45-d5: color-mix(in oklch, var(--c-5-d5) 50%, var(--c-4-d5));

	--c-45: light-dark(var(--c-45-0),var(--c-45-l1));
	--c-45h: light-dark(var(--c-45-d1),var(--c-45-l2));
	--c-45a: light-dark(var(--c-45-d2),var(--c-45-l3));

	--c-45-5: light-dark(var(--c-45-l5),var(--c-45-d5));
	--c-45-4: light-dark(var(--c-45-l4),var(--c-45-d4));
	--c-45-3: light-dark(var(--c-45-l3),var(--c-45-d3));
	--c-45-2: light-dark(var(--c-45-l2),var(--c-45-d2));
	--c-45-1: light-dark(var(--c-45-l1),var(--c-45-d1));
	--c-45--1: light-dark(var(--c-45-d1),var(--c-45-l1));
	--c-45--2: light-dark(var(--c-45-d2),var(--c-45-l2));
	--c-45--3: light-dark(var(--c-45-d3),var(--c-45-l3));
	--c-45--4: light-dark(var(--c-45-d4),var(--c-45-l4));
	--c-45--5: light-dark(var(--c-45-d5),var(--c-45-l5));

	--c-45-bg: var(--c-45-5); --c-45-bgh: var(--c-45-4); --c-45-bga: var(--c-45-3);
	--c-45-bd: var(--c-45-0); --c-45-bdh: var(--c-45--1); --c-45-bda: var(--c-45--2);
	--c-45-bc: var(--c-45--1); --c-45-bch: var(--c-45--2); --c-45-bca: var(--c-45--3);

	--c-67-l5: color-mix(in oklch, var(--c-7-l5) 70%, var(--c-6-l5));
	--c-67-l4: color-mix(in oklch, var(--c-7-l4) 70%, var(--c-6-l4));
	--c-67-l3: color-mix(in oklch, var(--c-7-l3) 70%, var(--c-6-l3));
	--c-67-l2: color-mix(in oklch, var(--c-7-l2) 70%, var(--c-6-l2));
	--c-67-l1: color-mix(in oklch, var(--c-7-l1) 70%, var(--c-6-l1));
	--c-67-0: color-mix(in oklch, var(--c-7-0) 70%, var(--c-6-0));
	--c-67-d1: color-mix(in oklch, var(--c-7-d1) 70%, var(--c-6-d1));
	--c-67-d2: color-mix(in oklch, var(--c-7-d2) 70%, var(--c-6-d2));
	--c-67-d3: color-mix(in oklch, var(--c-7-d3) 70%, var(--c-6-d3));
	--c-67-d4: color-mix(in oklch, var(--c-7-d4) 70%, var(--c-6-d4));
	--c-67-d5: color-mix(in oklch, var(--c-7-d5) 70%, var(--c-6-d5));

	--c-67: light-dark(var(--c-67-0),var(--c-67-l1));
	--c-67h: light-dark(var(--c-67-d1),var(--c-67-l2));
	--c-67a: light-dark(var(--c-67-d2),var(--c-67-l3));

	--c-67-5: light-dark(var(--c-67-l5),var(--c-67-d5));
	--c-67-4: light-dark(var(--c-67-l4),var(--c-67-d4));
	--c-67-3: light-dark(var(--c-67-l3),var(--c-67-d3));
	--c-67-2: light-dark(var(--c-67-l2),var(--c-67-d2));
	--c-67-1: light-dark(var(--c-67-l1),var(--c-67-d1));
	--c-67--1: light-dark(var(--c-67-d1),var(--c-67-l1));
	--c-67--2: light-dark(var(--c-67-d2),var(--c-67-l2));
	--c-67--3: light-dark(var(--c-67-d3),var(--c-67-l3));
	--c-67--4: light-dark(var(--c-67-d4),var(--c-67-l4));
	--c-67--5: light-dark(var(--c-67-d5),var(--c-67-l5));

	--c-67-bg: var(--c-67-5); --c-67-bgh: var(--c-67-4); --c-67-bga: var(--c-67-3);
	--c-67-bd: var(--c-67-0); --c-67-bdh: var(--c-67--1); --c-67-bda: var(--c-67--2);
	--c-67-bc: var(--c-67--1); --c-67-bch: var(--c-67--2); --c-67-bca: var(--c-67--3);
}