* { outline-color: currentColor; }

:root {
	background-color: var(--c-bg);
	color: var(--c-text);
	font-family: sans-serif;
}

body {
	padding-inline: max(4%, 1rem);
	margin: 0;
	margin-block-end: 3rem;
}

section.container:not(:has(> *:not(.container-bar, .middle-bar))):after {
	content: '### 비어 있음 :O ###';
	opacity: 0.8;
	border-block: 1px solid currentColor;
}

article.float-right, article.float-left {
	margin-block-start: 0;
	margin-inline: 0.4lh;
	max-width: min(480px, 100%);
}
article.float-right { float: inline-end; }
article.float-left { float: inline-start; }

article.container:not(:has(> *:not(.container-bar, .middle-bar))):after {
	content: '### 비어 있음 :O ###';
	opacity: 0.8;
	border: 1px solid currentColor;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.33em; }
h5 { font-size: 1.17em; }
h6 { font-size: 1em; }
h1, h2, h3, h4, h5, h6 { margin-block-start: 1em; margin-block-end: 0.25em; }

hgroup :is(h1, h2, h3, h4, h5, h6) {
	margin-block-end: 0;
}

hgroup p {
	font-weight: bold;
	margin-block-start: 0.1em;
}

@media screen and (max-width: 480px) {
	body, h1 { margin-block-start: 1rem; }
}

p {
	text-align: justify;
	margin-block: 0.4lh;
}

p[lang=en] { hyphens: auto; }

hr { color: inherit; border: none; height: 1lh; margin-block: 0.4lh; }

pre { overflow-x: auto; margin-block: 0.4lh; }
pre.wrap { white-space: pre-wrap; overflow-x: visible; }
pre:not(.wrap) :is(img, video, svg) {
	max-inline-size: none;
}
pre :is(ul, ol) { padding-inline-start: 3ch; margin-block: 0; }
pre li { margin-block: 0; }
pre hr { margin-block: 0; }

.columns { columns: 20em; }
.columns:has( > :is(p, figure):first-child, > .first-bar + :is(p, figure)) { margin-block-start: 0.4lh; }
.columns > :is(p, figure):first-child, .columns > .first-bar + :is(p, figure) { margin-block-start: 0; }

.columns.container:not(:has(> *:not(.container-bar, .middle-bar))):after {
	content: '### 비어 있음 :O ###';
	opacity: 0.8;
	border-block: 1px solid currentColor;
}

fieldset {
	margin-inline: 0;
	margin-block: 0.4lh;
	padding-inline: 0.625em;
	padding-block: 0.35em calc(0.625em - 0.4lh);
	border: 1px solid currentColor;
}
fieldset:not(:has( > legend)) { padding-block-start: 0.625em; }
article:is(.float-right, .float-left) > fieldset { margin-block: 0; }

fieldset > :is(h1, h2, h3, h4, h5, h6, p, .columns) {
	&:first-child, legend + &, .first-bar + & {
		margin-block-start: 0;
	}
}

fieldset .columns { column-rule: thin solid; }

:is(fieldset hr, hr.rule)::before {
	content: '';
	border-block-start: 1px solid currentColor;
	display: block;
	position: relative;
	top: calc(50% - 0.5px);
}

ol, ul { margin-block: 0.4lh; }
ul { padding-inline-start: 2ch; }
ol { padding-inline-start: 2ch; }
:is(dir, menu, ol, ul) {
	& ol { list-style-type: lower-alpha; }
	& & ol { list-style-type: lower-roman; }
}

li {
	margin-block: 0.4lh;
	&:has( > details) { list-style: none; }
}

li > details > summary { list-style-position: outside; }

:is(img, video) {
	max-inline-size: 100%;
	block-size: auto;
	max-block-size: 320px;
	display: block;
	margin-block: 0.4lh;
	&.small { max-block-size: 160px; }
	&.large { max-block-size: 480px; }
	&.full { inline-size: 100%; max-block-size: none; }
	&:not(.full).loading { block-size: 480px; }
}

svg {
	max-inline-size: 100%;
	block-size: auto;
}

figure {
	break-inside: avoid-column;
	margin-inline: 1em;
	margin-block: 0.4lh;
	text-align: center;
}
figure > :is(img, video) {
	margin-block: 0;
	margin-inline: auto;
}
figcaption { margin-block-start: 0.2lh; }

figure.float-right, figure.float-left {
	margin-block: 0;
	margin-inline: 0.4lh;
	padding: 0.4lh;
	border: 1px solid currentColor;
}
figure.float-right { float: inline-end; }
figure.float-left { float: inline-start; }

.align { display: block; }
.align.align-center { text-align-last: center; }
.align.align-right { text-align-last: end; }

a {
	color: var(--c-link);
	text-decoration: none;
	&:hover, a:focus-visible { color: var(--c-linkh); text-decoration: underline; }
	&:active { color: var(--c-linka); text-decoration: underline; }
	&.broken { color: var(--c-linke); }
	&.broken:hover, a.broken:focus-visible { color: var(--c-linkeh); }
	&.broken:active { color: var(--c-linkea); }
	&.self { color: var(--c-links); }
	&.self:hover, a.self:focus-visible { color: var(--c-linksh); }
	&.self:active { color: var(--c-linksa); }
}

.color {
	--c: currentColor; --ch: currentColor; --ca: currentColor;
	color: var(--c);
	&[data-color="0"] { --c: var(--c-0); --ch: var(--c-0h); --ca: var(--c-0a); }
	&[data-color="1"] { --c: var(--c-1); --ch: var(--c-1h); --ca: var(--c-1a); }
	&[data-color="2"] { --c: var(--c-2); --ch: var(--c-2h); --ca: var(--c-2a); }
	&[data-color="3"] { --c: var(--c-3); --ch: var(--c-3h); --ca: var(--c-3a); }
	&[data-color="4"] { --c: var(--c-4); --ch: var(--c-4h); --ca: var(--c-4a); }
	&[data-color="5"] { --c: var(--c-5); --ch: var(--c-5h); --ca: var(--c-5a); }
	&[data-color="6"] { --c: var(--c-6); --ch: var(--c-6h); --ca: var(--c-6a); }
	&[data-color="7"] { --c: var(--c-7); --ch: var(--c-7h); --ca: var(--c-7a); }
	&[data-color="8"] { --c: var(--c-8); --ch: var(--c-8h); --ca: var(--c-8a); }
	&[data-color="9"] { --c: var(--c-9); --ch: var(--c-9h); --ca: var(--c-9a); }
	&[data-color="10"] { --c: var(--c-10); --ch: var(--c-10h); --ca: var(--c-10a); }

	&:is(a, .click):is(:hover, :focus-visible) { color: var(--ch); }
	&:is(a, .click):active { color: var(--ca); }
}

.colorbox {
	--bg: transparent; --bgh: var(--c-0-5); --bga: var(--c-0-4);
	--bd: currentColor; --bdh: currentColor; --bda: currentColor;
	--c: currentColor; --ch: currentColor; --ca: currentColor;
	font-family: inherit;
	font-size: 1em;
	line-height: inherit;
	padding-block: 0;
	border-radius: 0.2em;
	border: none;
	background-color: var(--bg);
	--cbd: var(--bd);
	box-shadow: inset 0 0 0 1px var(--cbd);
	color: var(--c);
	padding-inline: 0.25em;
	text-indent: 0;
	text-decoration-color: var(--c);
	&[data-color="0"] { --bg: var(--c-0-bg); --bd: var(--c-0-bd); --c: var(--c-0-bc);
		--bgh: var(--c-0-bgh); --bdh: var(--c-0-bdh); --ch: var(--c-0-bch);
		--bga: var(--c-0-bga); --bda: var(--c-0-bda); --ca: var(--c-0-bca); }
	&[data-color="1"] { --bg: var(--c-1-bg); --bd: var(--c-1-bd); --c: var(--c-1-bc);
		--bgh: var(--c-1-bgh); --bdh: var(--c-1-bdh); --ch: var(--c-1-bch);
		--bga: var(--c-1-bga); --bda: var(--c-1-bda); --ca: var(--c-1-bca); }
	&[data-color="2"] { --bg: var(--c-2-bg); --bd: var(--c-2-bd); --c: var(--c-2-bc);
		--bgh: var(--c-2-bgh); --bdh: var(--c-2-bdh); --ch: var(--c-2-bch);
		--bga: var(--c-2-bga); --bda: var(--c-2-bda); --ca: var(--c-2-bca); }
	&[data-color="3"] { --bg: var(--c-3-bg); --bd: var(--c-3-bd); --c: var(--c-3-bc);
		--bgh: var(--c-3-bgh); --bdh: var(--c-3-bdh); --ch: var(--c-3-bch);
		--bga: var(--c-3-bga); --bda: var(--c-3-bda); --ca: var(--c-3-bca); }
	&[data-color="4"] { --bg: var(--c-4-bg); --bd: var(--c-4-bd); --c: var(--c-4-bc);
		--bgh: var(--c-4-bgh); --bdh: var(--c-4-bdh); --ch: var(--c-4-bch);
		--bga: var(--c-4-bga); --bda: var(--c-4-bda); --ca: var(--c-4-bca); }
	&[data-color="5"] { --bg: var(--c-5-bg); --bd: var(--c-5-bd); --c: var(--c-5-bc);
		--bgh: var(--c-5-bgh); --bdh: var(--c-5-bdh); --ch: var(--c-5-bch);
		--bga: var(--c-5-bga); --bda: var(--c-5-bda); --ca: var(--c-5-bca); }
	&[data-color="6"] { --bg: var(--c-6-bg); --bd: var(--c-6-bd); --c: var(--c-6-bc);
		--bgh: var(--c-6-bgh); --bdh: var(--c-6-bdh); --ch: var(--c-6-bch);
		--bga: var(--c-6-bga); --bda: var(--c-6-bda); --ca: var(--c-6-bca); }
	&[data-color="7"] { --bg: var(--c-7-bg); --bd: var(--c-7-bd); --c: var(--c-7-bc);
		--bgh: var(--c-7-bgh); --bdh: var(--c-7-bdh); --ch: var(--c-7-bch);
		--bga: var(--c-7-bga); --bda: var(--c-7-bda); --ca: var(--c-7-bca); }
	&[data-color="8"] { --bg: var(--c-8-bg); --bd: var(--c-8-bd); --c: var(--c-8-bc);
		--bgh: var(--c-8-bgh); --bdh: var(--c-8-bdh); --ch: var(--c-8-bch);
		--bga: var(--c-8-bga); --bda: var(--c-8-bda); --ca: var(--c-8-bca); }
	&[data-color="9"] { --bg: var(--c-9-bg); --bd: var(--c-9-bd); --c: var(--c-9-bc);
		--bgh: var(--c-9-bgh); --bdh: var(--c-9-bdh); --ch: var(--c-9-bch);
		--bga: var(--c-9-bga); --bda: var(--c-9-bda); --ca: var(--c-9-bca); }
	&[data-color="10"] { --bg: var(--c-10-bg); --bd: var(--c-10-bd); --c: var(--c-10-bc);
		--bgh: var(--c-10-bgh); --bdh: var(--c-10-bdh); --ch: var(--c-10-bch);
		--bga: var(--c-10-bga); --bda: var(--c-10-bda); --ca: var(--c-10-bca); }

	&:is(a, button):is(:hover, :focus-visible) {
		background-color: var(--bgh); --cbd: var(--bdh); color: var(--ch);
		text-decoration: none;
		cursor: pointer;
	}
	&:is(a, button):active { background-color: var(--bga); --cbd: var(--bda); color: var(--ca); text-decoration: none; }
}

em { text-decoration: underline; font-style: inherit; }
em.dots { text-decoration: none; text-emphasis: dot; }

u { text-decoration: underline; font-style: inherit; }
u.overline { text-decoration: overline; }
u.dots { text-decoration: none; text-emphasis: dot; }

sup {
	vertical-align: text-top;
	font-size: 0.7em;
	font-weight: 550;
}

sub {
	vertical-align: baseline;
	font-size: 0.7em;
	font-weight: 550;
}

s { text-decoration: line-through; }

ins {
	background-color: var(--c-1-bg);
	color: var(--c-1);
}

del {
	background-color: light-dark(var(--c-0-l3), var(--c-0-d5));
	color: light-dark(var(--c-0-d2), var(--c-0-d1));
}

nav {
	margin-block-end: 0.4lh;
	margin-inline-start: 0.4lh;
	padding: 0.625em;
	border: 1px solid currentColor;
	float: inline-end;
	position: relative;
	z-index: 1;
}

nav summary { display: none; padding: 0.4lh; }

nav menu {
	margin: 0;
	padding-inline-start: calc(2ch + 0.4lh);
	padding-inline-end: 0.4lh;
}

.nav-base { opacity: 0.7; }

#nav-skip {
	position: absolute;
	inset-block-start: -100%;
	inset-inline-end: max(4%, 1rem);
	border: 1px solid currentColor;
	background: var(--c-bg);
	font-size: 1.2em;
	padding-block: 4px;
	padding-inline: 8px;
	&:focus { inset-block-start: 3rem; z-index: 2; }
}

@media screen and (max-width: 480px) {
	nav { float: none; margin-inline-start: 0; }
	nav summary { display: revert; }
	nav menu > li:first-child { margin-block-start: 0; }
	#nav-skip { display: none; }
}

div#menubar::after {
	content: '로딩 증...';
	font-style: italic;
	opacity: 0.5;
}

#menubar {
	position: fixed;
	inset-block-start: 0;
	inset-inline: 0;
	block-size: calc(1rlh + 3px);
	margin: 0;
	padding: 0;
	border-block-end: 1px solid currentColor;
	background-color: var(--c-bg);
	z-index: 10;
	display: flex;
	list-style: none;

	> li {
		margin: 0;
		border-inline-end: 1px solid currentColor;
	}
	> li > button {
		font-family: inherit;
		font-size: 1em;
		color: inherit;
		display: block;
		margin: 0;
		padding-block: 1.5px;
		padding-inline: 0.5rem;
		background: none;
		border: none;
	}
	button:is(:hover, :focus-visible) { background-color: var(--c-0-bgh); }
	button:active { background-color: var(--c-0-bga); }

	ul {
		position: fixed;
		margin: 0;
		padding: 0;
		border: 1px solid currentColor;
		background-color: var(--c-bg);
		list-style: none;
	}

	ul > li { margin: 0; }
	ul > li:not(:first-child) { border-block-start: 1px solid currentColor; }
	ul > li > button {
		font-family: inherit;
		font-size: 1em;
		color: inherit;
		display: block;
		margin: 0;
		padding: 0;
		padding-block: 1.5px;
		padding-inline: 0.5rem;
		background: none;
		border: none;
		width: 100%;
		text-align: start;
	}
}

#dialog {
	border: 2px solid currentColor;
	background: var(--c-bg);

	#dialog-title { margin: 0; margin-block-end: -2px; text-align: center; }

	#dialog-main {
		margin-block: 16px;

		input {
			border: none;
			border-block-end: 1px solid currentColor;
			background: none;
			font-family: inherit;
			font-size: 1em;
			&[type="checkbox"] {
				appearance: none;
				inline-size: 0.85lh;
				block-size: 0.85lh;
				vertical-align: top;
				box-sizing: border-box;
				border: 1.5px solid currentColor;
				background: transparent;
				margin-inline: 0;
				margin-block: 0.075lh;
				position: relative;
			}
			&[type="checkbox"]:checked::before {
				content: '';
				position: absolute;
				inset: 2.5px;
				background-color: currentColor;
			}
			&[type="checkbox"]:hover { background-color: var(--c-bgh); }
			&::file-selector-button {
				border: 1px solid currentColor;
				border-block-end: none;
				background: var(--c-bg);
			}
			&::file-selector-button:is(:hover, :focus-visible) { background-color: var(--c-0-bgh); }
			&::file-selector-button:active { background-color: var(--c-0-bga); }
		}
	}

	#dialog-buttons {
		text-align: center;

		button {
			border: 1px solid currentColor;
			background: var(--c-bg);
			margin-inline: 4px;
			&:is(:hover, :focus-visible) { background-color: var(--c-0-bgh); }
			&.danger { border: 1px solid var(--c-1); color: var(--c-1); }
			&.danger:is(:hover, :focus, :focus-visible) { background-color: var(--c-1-bgh); }
			&:active { background-color: var(--c-0-bga); }
			&.danger:active { background-color: var(--c-1-bga); }
		}
	}
}

#warning {
	position: fixed;
	inset-inline-end: 16px;
	inset-block-start: 16px;
	padding: 8px;
	z-index: 11;
	border: 2px solid var(--c-1-bd);
	background-color: var(--c-1-bg);
	color: var(--c-1);
	display: none;
	&.show {
		display: block;
		opacity: 0%;
		animation: 1s warning-fade;
	}
}

@keyframes warning-fade {
	from { opacity: 100%; background-color: var(--c-1-bgh); }
	25% { background-color: var(--c-1-bgh); }
	25% { background-color: var(--c-1-bg); }
	50% { opacity: 100%; }
	to { opacity: 0%; }
}

@media print {
	body {
		margin: 0 !important;
		padding: 0 !important;
	}
	@page {
		size: A4 !important;
		margin: 10mm !important;
	}
	h1 { margin-block-start: 0 !important; }
	#menubar, nav { display: none !important; }
	hgroup { break-inside: avoid !important; }
	pre { white-space: pre-wrap !important; overflow-x: visible !important; }
	pre svg { max-inline-size: 100% !important; }
}

/* for edit */

@property --editbg {
	syntax: "<color>";
	inherits: false;
	initial-value: transparent;
}

.unit, .container, .editable {
	background-color: var(--editbg);
	box-shadow: 0 0 0 4px var(--editbg);
}
ins:is(.unit, .editable) {
	--editbg: var(--c-1-bg);
	box-shadow: none;
}
del:is(.unit, .editable) {
	--editbg: light-dark(var(--c-0-l3), var(--c-0-d5));
	box-shadow: none;
}

.container {
	position: relative;
	--barbg: var(--c-0-3); --barbgh: var(--c-0-2); --barbga: var(--c-0-1);
	--midbg: var(--c-0-5);
}

.container-bar {
	content: '';
	position: absolute;
	inset-block-start: 0;
	inset-block-end: 2px;
	inset-inline-end: calc(100% + 0.05lh);
	inset-inline-start: -0.45lh;
	background-color: var(--barbg);
	appearance: none;
	border: none;
	padding: 0;
	margin: 0;
	font: inherit;
	display: none;
	&.middle-bar { background-color: var(--midbg); z-index: -1; }
	&.first-bar { inset-block-end: max(50% + 1px, 100% - 3lh); }
	&.last-bar { inset-block-start: max(50% + 1px, 100% - 3lh); }
	&:is(:hover, :focus-visible) { background-color: var(--barbgh); }
	&:active { background-color: var(--barbga); }
}

section.container { --barbg: var(--c-7-3); --barbgh: var(--c-7-2); --barbga: var(--c-7-1); --midbg: var(--c-7-5); }
article.container { --barbg: var(--c-6-3); --barbgh: var(--c-6-2); --barbga: var(--c-6-1); --midbg: var(--c-6-5); }
:is(section, article) {
	&.container > .container-bar {
		inset-inline-end: calc(100% + 0.45lh);
		inset-inline-start: -0.85lh;
	}
	&.container:has(&) > .container-bar {
		inset-inline-end: calc(100% + 0.85lh);
		inset-inline-start: -1.25lh;
	}
	&.container:has(& &) > .container-bar {
		inset-inline-end: calc(100% + 1.25lh);
		inset-inline-start: -1.65lh;
	}
	&.container:has(& & &) > .container-bar {
		inset-inline-end: calc(100% + 1.65lh);
		inset-inline-start: -2.05lh;
	} /* please do not nest things 4+ times */
}
fieldset.container > .container-bar {
	inset-inline-end: calc(100% + 0.05lh + 1px);
	inset-inline-start: calc(-0.45lh - 1px);
}

.editable:is(:hover, :focus-visible) { --editbg: var(--c-3-bg); }
.editable:empty:before {
	content: '### 비어 있음 :O ###';
	opacity: 0.8;
}

:is(.edited, .new, .deleted) a { text-decoration: underline; }

.edited.edited { --editbg: var(--c-3-bg); text-decoration: var(--c-3) dotted underline; }
.edited.will-submit { color: var(--c-3); }
.edited.will-cancel { --editbg: var(--c-2-bg); color: var(--c-2); text-decoration-color: var(--c-2); }
.deleted.deleted { --editbg: var(--c-1-bg); text-decoration: var(--c-1) dotted underline; color: var(--c-1); }
.new.new { --editbg: var(--c-4-bg); text-decoration: var(--c-4) dotted underline; color: var(--c-4); }

:where(body.targeting) {
	:is(#menubar, #menubar *) {
		color: var(--c-6);
	}

	.editable:is(:hover, :focus-visible) { --editbg: transparent; }
	.unit:is(:hover, :focus-visible):where(:not(:has(:is(.container, .unit):is(:hover, :focus-visible)))),
	.container:has(> :where(.last-bar):is(:hover, :focus-visible)) { --editbg: var(--c-6-bg); }
	.container:has(> :where(.first-bar):is(:hover, :focus-visible)) { --editbg: var(--c-7-bg); }
	.container-bar { display: block; }	
}
