:root {
	--base-length: 36px;
	--symbol-size: var(--base-length);
	/*line-height: var(--symbol-size);*/
}

#code {
	font-family: inherit;
	display: block;
	inline-size: 50vi;
	block-size: 20vb;
	font-size: 1.5em;
}

.result-img {
	display: inline-block;
	block-size: var(--symbol-size);
	aspect-ratio: 1;
	position: relative;
}

.result-img::before {
	content: '';
	background-image: var(--data);
	background-size: 100% 100%;
	block-size: 140%;
	aspect-ratio: 1;
	position: absolute;
	inset-inline-start: 50%;
	inset-block-start: 50%;
	transform: translate(-50%,-50%);
}

.compressed .result-img {
	inline-size: calc(0.5 * var(--symbol-size));
	block-size: var(--symbol-size);
	margin-inline-start: calc(-0.5 * var(--symbol-size));
}

.compressed .result-img::before {
	block-size: 70%;
	inset-block-start: 76%;
}

.compressed .result-img.top, .compressed .result-img.bottom {
	margin-inline-start: 0;
}

.compressed .result-img.top::before {
	inset-block-start: 24%;
}

.compressed .result-img.full {
	inline-size: calc(0.25 * var(--symbol-size));
	block-size: var(--symbol-size);
	margin-inline-start: 0;
}

.compressed .result-img.full::before {
	block-size: 140%;
	inline-size: 280%;
	object-fit: fill;
	inset-block-start: 50%;
}

#result-container {
	border: 3.8px solid black;
	inline-size: calc(25 * var(--symbol-size));
	padding: calc(0.5 * var(--symbol-size));
	background-color: white;
}