#forms {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4lh;
	align-items: flex-start;
}

h6 { margin: 0; margin-block-end: 4px; text-align: center; }

form {
	display: inline-block;
	margin: 0;
	padding: 0.625em;
	border: 1px solid currentColor;
	max-inline-size: 20em;

	input {
		display: block;
		inline-size: 100%;
		border: none;
		border-block-end: 1px solid currentColor;
		background: none;
		font-family: inherit;
		font-size: 1em;
		margin-block-end: 4px;
		&[type="checkbox"] {
			appearance: none;
			inline-size: 0.85lh;
			block-size: 0.85lh;
			vertical-align: top;
			box-sizing: border-box;
			border: 1.5px solid currentColor;
			background: transparent;
			margin-inline: 0;
			margin-block: 0.075lh;
			position: relative;
		}
		&[type="checkbox"]:checked::before {
			content: '';
			position: absolute;
			inset: 2.5px;
			background-color: currentColor;
		}
		&[type="checkbox"]:hover { background-color: var(--c-bgh); }
		&::file-selector-button {
			border: 1px solid currentColor;
			border-block-end: none;
			background: var(--c-bg);
		}
		&::file-selector-button:is(:hover, :focus-visible) { background-color: var(--c-0-bgh); }
		&::file-selector-button:active { background-color: var(--c-0-bga); }
	}

	p {
		font-size: small;
		text-align: center;
		margin-block-start: -2px;
		margin-block-end: 4px;
	}

	button {
		font-size: 1em;
		border: 1px solid currentColor;
		background: var(--c-bg);
		margin-inline: 0;
		&:is(:hover, :focus-visible) { background-color: var(--c-0-bgh); }
		&.danger { border: 1px solid var(--c-1); color: var(--c-1); }
		&.danger:is(:hover, :focus, :focus-visible) { background-color: var(--c-1-bgh); }
		&:active { background-color: var(--c-0-bga); }
		&.danger:active { background-color: var(--c-1-bga); }
	}
}

.images {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 0.4lh;
}

.image {
	margin: 0;
	padding: 0.4lh;
	border: 1px solid currentColor;
	display: inline-block;
	box-sizing: border-box;
	max-inline-size: 100%;
	min-inline-size: 0;

	img {
		margin-block: 4px;
		inline-size: auto;
		block-size: auto;
		max-inline-size: 100%;
	}
	div { text-align: center; }
	button {
		border: 1px solid var(--c-1);
		color: var(--c-1);
		background: var(--c-bg);
		margin-inline: auto;
		&:is(:hover, :focus, :focus-visible) { background-color: var(--c-1-bgh); }
		&:active { background-color: var(--c-1-bga); }
	}
}