:root {
	font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h1 {
	position: relative;
	z-index: 1;
}

thead th { inset-block-start: calc(1rlh + 20px); cursor: pointer; }
tfoot td { inset-block-end: 20px; }

table::before {
	content: '';
	position: fixed;
	background-color: var(--c-bg);
	inset-block-start: 0;
	block-size: calc(1rlh + 20px);
	inset-inline: 0;
}
table.unfixed-before::before { position: absolute; inset-block-start: var(--unfixed-top); }

table::after {
	content: '';
	position: fixed;
	background-color: var(--c-bg);
	inset-block-end: 0;
	block-size: 20px;
	inset-inline: 0;
}
table.unfixed-after::after { position: absolute; inset-block-end: 0; }

#dialog-main input[type="number"] {
	width: 6ch;
}
#dialog-main label:has( > input[type="radio"]) {
	display: inline-flex;
	align-items: flex-start;
	line-height: inherit;
	gap: 0.25em;
	margin-inline: 0.25em;
}
#dialog-main input[type="radio"] {
	appearance: none;
	inline-size: 0.85lh;
	block-size: 0.85lh;
	box-sizing: border-box;
	border: 1.5px solid var(--bd);
	background: var(--bg);
	margin: 0;
	position: relative;
}
#dialog-main input[type="radio"]:checked::before {
	content: '';
	position: absolute;
	inset: 2.5px;
	background-color: var(--bd);
}
#dialog-main input[type="radio"]:hover { border-color: var(--bdh); background-color: var(--bgh); }
#dialog-main input[type="radio"]:hover:checked::before { background-color: var(--bdh); }
#dialog-main input[type="radio"]:active { border-color: var(--bda); background-color: var(--bga); }
#dialog-main input[type="radio"]:active:checked::before { background-color: var(--bda); }

#dialog-main input[type="radio"][name="log1-type"][value="1"] { --bd: var(--c-1-bd); --bdh: var(--c-1-bdh); --bda: var(--c-1-bda); --bg: var(--c-1-bg); --bgh: var(--c-1-bgh); --bga: var(--c-1-bga); }
#dialog-main input[type="radio"][name="log1-type"][value="2"] { --bd: var(--c-8-bd); --bdh: var(--c-8-bdh); --bda: var(--c-8-bda); --bg: var(--c-8-bg); --bgh: var(--c-8-bgh); --bga: var(--c-8-bga); }
#dialog-main input[type="radio"][name="log1-type"][value="3"] { --bd: var(--c-3-bd); --bdh: var(--c-3-bdh); --bda: var(--c-3-bda); --bg: var(--c-3-bg); --bgh: var(--c-3-bgh); --bga: var(--c-3-bga); }
#dialog-main input[type="radio"][name="log1-type"][value="4"] { --bd: var(--c-45-bd); --bdh: var(--c-45-bdh); --bda: var(--c-45-bda); --bg: var(--c-45-bg); --bgh: var(--c-45-bgh); --bga: var(--c-45-bga); }
#dialog-main input[type="radio"][name="log1-type"][value="5"] { --bd: var(--c-67-bd); --bdh: var(--c-67-bdh); --bda: var(--c-67-bda); --bg: var(--c-67-bg); --bgh: var(--c-67-bgh); --bga: var(--c-67-bga); }
#dialog-main input[type="radio"][name="log1-type"][value="6"] { --bd: var(--c-2-bd); --bdh: var(--c-2-bdh); --bda: var(--c-2-bda); --bg: var(--c-2-bg); --bgh: var(--c-2-bgh); --bga: var(--c-2-bga); }

@media print {
	@page {
		@bottom-center {
			font-family: 'Menlo' monospace;
			font-weight: bold;
			font-size: 0.8rem;
			content: counter(page);
			text-align: center;
		}
	}
	@page:first {
		counter-reset: page 0;
		@bottom-center { content: none; }
	}
	table {
		font-size: 0.9rem;
	}
	h1 {
		break-after: page;
		block-size: 100vb;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	h1::after {
		display: block;
		content: url('/assets/cycelog/logo.svg');
		block-size: 25rem;
		inline-size: 25rem;
	}
	tr { --nc: currentColor; }
	tr:has(+ tr[data-type="1"]) { --nc: var(--c-1); }
	tr:has(+ tr[data-type="2"]) { --nc: var(--c-8); }
	tr:has(+ tr[data-type="3"]) { --nc: var(--c-3); }
	tr:has(+ tr[data-type="4"]) { --nc: var(--c-45); }
	tr:has(+ tr[data-type="5"]) { --nc: var(--c-67); }
	tr:has(+ tr[data-type="6"]) { --nc: var(--c-2); }
	th, td {
		border: 1px solid currentColor !important;
		border-block-end-color: color-mix(in oklab, currentColor 50%, var(--nc)) !important;
		padding-block: 0.3ic !important;
		vertical-align: middle;
	}
	:is(th, td):first-child { border-inline-start: none !important; font-family: 'Menlo' !important; padding-inline: 0.4ic !important; }
	:is(th, td):nth-child(3) { font-family: 'Menlo' !important; padding-inline: 0.4ic !important; }
	:is(th, td):last-child { border-inline-end: none !important; }
	.log1-time-wrapper {
		overflow: visible !important;
		overflow-wrap: anywhere !important;
		inline-size: 100% !important;
	}
	table {
		border-collapse: collapse !important;
		box-sizing: border-box !important;
		width: 100% !important;
		border: none !important;
	}
	table::before, table::after { content: none !important; }
	thead th, tfoot td { background-color: transparent !important; position: static !important; }
	tfoot { display: none; }
	tr { break-inside: avoid; }
}