:root {
	font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
	margin-block-end: 12rem;
}

section.week {
	text-align: justify; /* for 'block'(actually still inline) comments */
}

main > section.week > section { color: var(--c-0); }

section.week > hgroup > h2::first-line { /* I really didn't want to make another element */
	background-color: light-dark(yellow, transparent);
	color: light-dark(currentColor, yellow);
}

section.week > hgroup > p::first-line {
	background-color: light-dark(#00ff00dd, transparent);
	color: light-dark(currentColor, #00ff44);
}

p:not(hgroup p) {
	text-indent: 1ch each-line;
}

.entry { color: var(--c); outline-offset: 2px; scroll-margin-block: 50vb; }
.entry:hover, .entry:focus-visible { color: var(--ch); }
.entry:active { color: var(--ca); }

.entry:not([data-type]), .entry[data-type="0"] {
	background-color: var(--c-1-3);
	--c: var(--c-linke); --ch: var(--c-linkeh); --ca: var(--c-linkea);
}
.entry[data-type="1"] { --c: var(--c-1); --ch: var(--c-1h); --ca: var(--c-1a); }
.entry[data-type="2"] { --c: var(--c-8); --ch: var(--c-8h); --ca: var(--c-8a); }
.entry[data-type="3"] { --c: var(--c-3); --ch: var(--c-3h); --ca: var(--c-3a); }
.entry[data-type="4"] { --c: var(--c-45); --ch: var(--c-45h); --ca: var(--c-45a); }
.entry[data-type="5"] { --c: var(--c-67); --ch: var(--c-67h); --ca: var(--c-67a); }
.entry[data-type="6"] { --c: var(--c-2); --ch: var(--c-2h); --ca: var(--c-2a); }
.entry[data-type="add"] { --c: var(--c-0h); --ch: var(--c-0a); --ca: var(--c-0a); }

.entry:target {
	background-color: Mark;
	color: MarkText;
	outline: 1px auto var(--c);
}

pre {
	font-family: 'Nanum Gothic Coding', monospace;
	padding-inline: 2ch;
	line-height: 1.05;
	text-align: start;
	margin-block-start: 0;
}

:is(p, pre):has( + :is(ins, pre)) { margin-block-end: 0; }

.end-of-week {
	background-color: light-dark(#00ff00dd, transparent);
	color: light-dark(currentColor, #00ff44);
}

@media print {
	@page {
		@bottom-center {
			font-family: 'Nanum Gothic Coding';
			font-weight: bold;
			font-size: 0.8rem;
			content: counter(page);
			text-align: center;
		}
	}
	@page:first {
		counter-reset: page 0;
		@bottom-center { content: none; }
	}
	h1:first-child {
		break-after: page;
		block-size: 100vb;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	h1:first-child::after {
		display: block;
		content: url('/assets/cycelog/logo.svg');
		block-size: 25rem;
		inline-size: 25rem;
	}
}