:root {
	font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
	margin-block-end: 9rem;
}

main {
	text-align: justify; /* for 'block'(actually still inline) comments */
	overflow-wrap: anywhere;
}

details.week > summary { display: block; cursor: pointer; }
details.week > section { color: var(--c-0); }

details.week > summary > hgroup > h2::first-line { /* I really didn't want to make another element */
	background-color: light-dark(yellow, transparent);
	color: light-dark(currentColor, yellow);
}

details.week > summary > hgroup > p::first-line {
	background-color: light-dark(#00ff00dd, transparent);
	color: light-dark(currentColor, #00ff44);
}

p:not(hgroup p) {
	text-indent: 1ch each-line;
}

.entry { color: var(--c); outline-offset: 2px; scroll-margin-block: 50vb; }
.entry:hover, .entry:focus-visible { color: var(--ch); }
.entry:active { color: var(--ca); }

.entry:not([data-type]), .entry[data-type="0"] {
	background-color: var(--c-1-3);
	--c: var(--c-linke); --ch: var(--c-linkeh); --ca: var(--c-linkea);
}
.entry[data-type="1"] { --c: var(--c-1); --ch: var(--c-1h); --ca: var(--c-1a); }
.entry[data-type="2"] { --c: var(--c-8); --ch: var(--c-8h); --ca: var(--c-8a); }
.entry[data-type="3"] { --c: var(--c-3); --ch: var(--c-3h); --ca: var(--c-3a); }
.entry[data-type="4"] { --c: var(--c-45); --ch: var(--c-45h); --ca: var(--c-45a); }
.entry[data-type="5"] { --c: var(--c-67); --ch: var(--c-67h); --ca: var(--c-67a); }
.entry[data-type="6"] { --c: var(--c-2); --ch: var(--c-2h); --ca: var(--c-2a); }
.entry[data-type="add"] { --c: light-dark(var(--c-0-d1),var(--c-0-0)); --ch: light-dark(var(--c-0-d2),var(--c-0-l1)); --ca: light-dark(var(--c-0-d2),var(--c-0-l1)); }

.entry:target {
	background-color: Mark;
	color: MarkText;
	outline: 1px auto var(--c);
}

.color[data-color="45"] { --c: var(--c-45); --ch: var(--c-45h); --ca: var(--c-45a); }
.color[data-color="67"] { --c: var(--c-67); --ch: var(--c-67h); --ca: var(--c-67a); }
.color[data-color="sr"] { --c: #D16D6A; --ch: #D16D6A; --ca: #D16D6A; }
.color[data-color="sp"] { --c: #8D7DB3; --ch: #8D7DB3; --ca: #8D7DB3; }
.color[data-color="sy"] { --c: #F9DA78; --ch: #F9DA78; --ca: #F9DA78; }
.color[data-color="sg"] { --c: #9DC384; --ch: #9DC384; --ca: #9DC384; }
.color[data-color="sb"] { --c: #789DE5; --ch: #789DE5; --ca: #789DE5; }

.colorbox[data-color="45"] { --bg: var(--c-45-bg); --bd: var(--c-45-bd); --c: var(--c-45-bc);
	--bgh: var(--c-45-bgh); --bdh: var(--c-45-bdh); --ch: var(--c-45-bch);
	--bga: var(--c-45-bga); --bda: var(--c-45-bda); --ca: var(--c-45-bca); }
.colorbox[data-color="67"] { --bg: var(--c-67-bg); --bd: var(--c-67-bd); --c: var(--c-67-bc);
	--bgh: var(--c-67-bgh); --bdh: var(--c-67-bdh); --ch: var(--c-67-bch);
	--bga: var(--c-67-bga); --bda: var(--c-67-bda); --ca: var(--c-67-bca); }

pre {
	font-family: 'Nanum Gothic Coding', monospace;
	font-size: 0.9em;
	padding-inline: 2ch;
	line-height: 1.05;
	text-align: start;
	margin-block-start: 0;
}

pre ol, pre ol ol, pre ol ol ol {
	list-style-type: decimal;
}

:is(p, pre):has( + :is(ins, pre)) { margin-block-end: 0; }

.end-of-week {
	background-color: light-dark(#00ff00dd, transparent);
	color: light-dark(currentColor, #00ff44);
}

.week > .container-bar {
	--barbg: var(--c-6-3); --barbgh: var(--c-6-2); --barbga: var(--c-6-1); --midbg: var(--c-6-5);
	inset-inline-end: calc(100% + 0.85lh);
	inset-inline-start: -1.25lh;
}

@media screen and (min-width: 900px) and (min-aspect-ratio: 1/1) {
	body:has(#log1) {
		padding-inline: max(2%, 0.5rem) calc(50% + max(2%, 0.5rem));
	}

	#log1 {
		position: fixed;
		inset-block: 0;
		inset-inline: 50% 0;
		overflow-inline: clip;
		overflow-block: auto;
		overscroll-behavior: contain;
		border-inline-start: 1px solid currentColor;
		padding-inline: max(2%, 0.5rem);
	}
}

@media print {
	@page {
		@bottom-center {
			font-family: 'Menlo' monospace;
			font-weight: bold;
			font-size: 0.8rem;
			content: counter(page);
			text-align: center;
		}
	}
	@page:first {
		counter-reset: page 0;
		@bottom-center { content: none; }
	}
	h1:first-child {
		break-after: page;
		block-size: 100vb;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	h1:first-child::after {
		display: block;
		content: url('/assets/cycelog/logo.svg');
		block-size: 25rem;
		inline-size: 25rem;
	}
	.week:not(:open) { display: none; }
	.week-collapse { display: none; }
	#log1 { display: none; }
}

details.week > summary:is(.editable, .atrocity) > hgroup > *:empty::before {
	content: '### 비어 있음 :O ###';
}