table {
	font-family: "Pretendard GOV Variable", "Pretendard GOV", monospace;

	table-layout: fixed;
	inline-size: 100%;
	border-collapse: separate;
	border-spacing: 0;
}

th, td {
	border: 0.5px solid currentColor;
	border-spacing: 0;
	vertical-align: top;
	block-size: 1lh;
	padding: 0.5ic; position: relative;
	:is(thead, tfoot) & { background-color: var(--c-bg); position: sticky; z-index: 1; }
	thead & { inset-block-start: calc(1rlh + 3px); border-block-start-width: 1px; }
	tfoot & { inset-block-end: -1px; border-block-end-width: 1px; }
	&:first-child { border-inline-start-width: 1px; }
	&:last-child { border-inline-end-width: 1px; }
	&:nth-child(1) { inline-size: 5ch; text-align: end; }
	&:nth-child(2) { inline-size: 2ic; text-align: center; }
	&:nth-child(3) { inline-size: 9ch; }
}

tr {
	--bg: var(--c-bg); --bgf: var(--c-bgh); --c: currentColor;
	
	&[data-type="1"] { --bg: var(--c-1-bg); --bgf: var(--c-1-bgh); --c: var(--c-1); }
	&[data-type="2"] { --bg: var(--c-8-bg); --bgf: var(--c-8-bgh); --c: var(--c-8); }
	&[data-type="3"] { --bg: var(--c-3-bg); --bgf: var(--c-3-bgh); --c: var(--c-3); }
	&[data-type="4"] { --bg: var(--c-45-bg); --bgf: var(--c-45-bgh); --c: var(--c-45); }
	&[data-type="5"] { --bg: var(--c-67-bg); --bgf: var(--c-67-bgh); --c: var(--c-67); }
	&[data-type="6"] { --bg: var(--c-2-bg); --bgf: var(--c-2-bgh); --c: var(--c-2); }
	&[data-nolink] { --bg: var(--c-0-bg); --bgf: var(--c-0-bgh); --c: var(--c-0); }

	td { background-color: var(--bg); color: var(--c); }

	scroll-margin-block: 50vb;
	&:target { --bg: var(--bgf); position: relative; }
	&:target td:first-child { background-color: Mark; color: MarkText; }
}

td.log1-td-id {
	padding: 0;

	> a {
		color: inherit;
		display: block;
		padding: 0.5ic;
		position: absolute;
		inset: 0;
	}
}
td.log1-edited { text-decoration: currentColor dotted underline; }

td:focus { background-color: var(--bgf); }
:is(td:focus, tr:target > td:first-child)::after {
	content: '';
	position: absolute;
	inset: 0;
	outline: 1px auto var(--c);
	z-index: 2;
	pointer-events: none;
}

.log1-time-wrapper {
	overflow: clip;
	text-overflow: ellipsis;
	&:hover {
		overflow: visible;
		inline-size: max-content;
		padding-right: 1ic;
		position: relative;
		background-color: var(--bg);
		box-shadow: 0 0 0 0.25ic var(--bg);
		:is(tr:target td, td:focus) & {
			background-color: var(--bgf);
			box-shadow: 0 0 0 0.25ic var(--bgf);
		}
	}
}

@media print {
	table {
		font-size: 0.9rem;
	}
	tr { --nc: currentColor; }
	tr:has(+ tr[data-type="1"]) { --nc: var(--c-1); }
	tr:has(+ tr[data-type="2"]) { --nc: var(--c-8); }
	tr:has(+ tr[data-type="3"]) { --nc: var(--c-3); }
	tr:has(+ tr[data-type="4"]) { --nc: var(--c-45); }
	tr:has(+ tr[data-type="5"]) { --nc: var(--c-67); }
	tr:has(+ tr[data-type="6"]) { --nc: var(--c-2); }
	th, td {
		border: 1px solid currentColor !important;
		border-block-end-color: color-mix(in oklab, currentColor 50%, var(--nc)) !important;
		padding-block: 0.3ic !important;
		vertical-align: middle;
	}
	td.log1-td-id > a { padding: 0; }
	:is(th, td):first-child { border-inline-start: none !important; font-family: 'Menlo' !important; padding-inline: 0.4ic !important; }
	:is(th, td):nth-child(3) { font-family: 'Menlo' !important; padding-inline: 0.4ic !important; }
	:is(th, td):last-child { border-inline-end: none !important; }
	.log1-time-wrapper {
		overflow: visible !important;
		overflow-wrap: anywhere !important;
		inline-size: 100% !important;
	}
	table {
		border-collapse: collapse !important;
		box-sizing: border-box !important;
		width: 100% !important;
		border: none !important;
	}
	table::before, table::after { content: none !important; }
	thead th, tfoot td { background-color: transparent !important; position: static !important; }
	tfoot { display: none; }
	tr { break-inside: avoid; }
}