:root {
	color-scheme: light dark;

	--c-lbg: rgb(250 250 250);
	--c-dbg: rgb(35 35 35);
	--c-ltext: rgb(250 250 250);
	--c-dtext: rgb(28 28 30);
	--c-grayl3: rgb(229 229 234);
	--c-grayl2: rgb(199 199 204);
	--c-grayl1: rgb(174 174 178);
	--c-gray: rgb(142 142 147);
	--c-grayd1: rgb(99 99 102);
	--c-grayd2: rgb(72 72 74);
	--c-grayd3: rgb(58 58 60);
	--c-lblue: rgb(0 122 255);
	--c-lblue-active: rgb(0 150 255);
	--c-dblue: rgb(10 132 255);
	--c-dblue-active: rgb(10 160 255);

	--c-bg: light-dark(var(--c-lbg),var(--c-dbg));
	--c-antibg: light-dark(var(--c-dbg),var(--c-lbg));
	--c-text: light-dark(var(--c-dtext),var(--c-ltext));
	--c-antitext: light-dark(var(--c-ltext),var(--c-dtext));
	--c-gray1: light-dark(var(--c-grayl3),var(--c-grayd3));
	--c-gray2: light-dark(var(--c-grayl2),var(--c-grayd2));
	--c-gray3: light-dark(var(--c-grayl1),var(--c-grayd1));
	--c-gray4: var(--c-gray);
	--c-gray5: light-dark(var(--c-grayd1),var(--c-grayl1));
	--c-gray6: light-dark(var(--c-grayd2),var(--c-grayl2));
	--c-gray7: light-dark(var(--c-grayd3),var(--c-grayl3));
	--c-blue: light-dark(var(--c-lblue),var(--c-dblue));
	--c-blue-active: light-dark(var(--c-lblue-active),var(--c-dblue-active));
	--c-antiblue: light-dark(var(--c-dblue),var(--c-lblue));
	--c-antiblue-active: light-dark(var(--c-dblue-active),var(--c-lblue-active));
	
	--c-black: rgb(0 0 0);
}